DATABASE_URL=postgresql://user:password@ep-example.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_MIGRATION_URL=postgresql://user:password@ep-example.neon.tech/neondb?sslmode=require&channel_binding=require
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id
SESSION_SECRET=generate-with-node--e-require-crypto-randomBytes-48-toString-base64url
MIDTRANS_SERVER_KEY=your-midtrans-server-key
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=your-midtrans-client-key
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false
CRON_SECRET=your-cron-secret
